# =========================
# 🐍 Python
# =========================
__pycache__/
*.py[cod]

# =========================
# 🧪 Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# 🛠 IDE / Editor
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# 💻 OS
# =========================
.DS_Store
Thumbs.db

# =========================
# 🔐 Environment files
# =========================
.env
.env.*


# =========================
# 🤖 AI Model files
# =========================
*.pt
*.pth
*.onnx


# =========================
# 🧾 Logs
# =========================
*.log

venv_311/
app/static/uploads/
*.mp4
*.zip
