<footer class="site-footer" id="contact">

  <div class="footer-inner">

    <div class="footer-brand">
      <div class="footer-logo">
        <span class="logo-badge">404</span>
        <span class="logo-text">R·N·F <strong>AI</strong></span>
      </div>

      <p class="footer-desc">
        AI 기반 도로 낙하물 탐지 시스템으로
        도로 위 위험 요소를 빠르게 감지하고
        사용자 신고와 관리자 대응을 지원합니다.
      </p>

      <div class="footer-tech">
        <span>Flask</span>
        <span>YOLO</span>
        <span>MySQL</span>
        <span>AI Vision</span>
      </div>
    </div>


    <div class="footer-links">
      <h4>서비스</h4>

      <ul>
        <li><a href="{{ url_for('main.index') }}#intro">서비스 소개</a></li>
        <li><a href="{{ url_for('main.index') }}#feature">핵심 기능</a></li>
        <li><a href="{{ url_for('main.index') }}#tech">기술 구조</a></li>
        <li><a href="{{ url_for('main.index') }}#alert">위험도 등급</a></li>
        <li><a href="#">실시간 탐지 현황</a></li>
        <li><a href="{{ url_for('report.create_report_page') }}">낙하물 신고</a></li>

        {% if is_admin %}
        <li>
          <a class="admin-footer-link" href="{{ url_for('admin_dashboard.dashboard') }}">
            관리자 대시보드
          </a>
        </li>
        {% endif %}
      </ul>
    </div>


    <div class="footer-team">

      <h4>팀 404RNF</h4>

      <div class="team-grid">

      <div class="team-card">
        <strong>김도하 · 조장 </strong>
        <p>프로젝트 총괄 · DB 설계 · 프론트엔드 · 백엔드 · 회원관리 · 대시보드 페이지 · AI 모델</p>
        <a href="https://github.com/DDORINY" target="_blank">
          GitHub → github.com/DDORINY
        </a>
      </div>

      <div class="team-card">
        <strong>송명근 · 부조장 </strong>
        <p>프론트엔드 · 백엔드 · 신고등록페이지 · 지도API · AI 모델</p>
        <a href="https://github.com/slowlyP" target="_blank">
          GitHub → github.com/slowlyP
        </a>
      </div>

      <div class="team-card">
        <strong>임효정</strong>
        <p>프론트엔드 · 백엔드 · 내 정보 페이지 · 내신고상세보기 · AI 모델</p>
        <a href="https://github.com/ggug0125-ui" target="_blank">
          GitHub → github.com/ggug0125-ui
        </a>
      </div>

      <div class="team-card">
        <strong>김도균</strong>
        <p>프론트엔드 · 백엔드 · 웹소켓 · 실시간 탐지 및 알림페이지 · AI 모델</p>
        <a href="https://github.com/Dogyun-Kim57" target="_blank">
          GitHub → github.com/Dogyun-Kim57
        </a>
      </div>

    </div>
  </div>
</div>

  </div>


  <div class="footer-bottom">
    <p>© 2026 404 R·N·F AI — Road Hazard Detection System</p>
  </div>

</footer>